<h1 class="page-title">reAuthenticate</h1>

<section class="form-wrapper">
  <%= form_with model: @user, url: '/authenticate', method: :post do |form| %>
    <div class="form-field-wrapper">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
    </div>
    <div class="form-field-wrapper">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </div>
    <div class="form-field-wrapper form-submit-wrapper">
      <%= form.submit "Authenticate" %>
    </div>
  <% end %>
</section>
